@charset "utf-8";
/* CSS feuille de style index_resto_bilan  */
body{
    background: white /* #ecedef */;
    margin:0 auto;
    width: 1024px;
    border: none;
    box-align: center;
   
}
header{
    text-align: center;
    width: 40%;
    height: 10%;
    border: none;
    margin-left: 30%;
}
#conteneur{
     height: 2600px;
     border: none;
}
.droite{
    float: right;
}
.gauche{
    float: left;
}
/* .texte{
    display: inline;
} */
#clear{
    clear: both;
}
footer{
    text-align: center;
    width: 40%;
    height: 10%;
    border: none;
    margin-left: 30%;
}
nav ul li {
    display: inline;
    font-size: x-large;
}
.assiette {
   
    float: right;
    margin-top: 14%;
    margin-right: 20%;
    text-align: right;
}
h4{
    text-decoration: underline;
}
.place {
    display: inline;
    float: right;
    width: 45%;
    margin-top: 19%;
    margin-right: 15px;
    margin-left: 5px;
 }
 h3{
     border-bottom: 2px solid black;
 }
