@charset "utf-8";
/* CSS feuille de style index_resto_bilan  */
body{
    background: white /* #ecedef */;
    margin:0 auto;
    width: 1024px;
    border: none;
   
}
header{
    background: yellow;
    width: 100%;
    height: 10%;
    border: none;
}
#conteneur{
    /* background: green; */
     height: 2600px;
     border: none;
}
.droite{
    float: right;
}
.gauche{
    float: left;
}
.texte{
    display: inline;
}
#clear{
    clear: both;
}
footer{
    background: pink;
}
#bas
