@charset "UTF-8";

/* style page restaurant septime city guide tarek.benkherouf@lepoles.com */

body{
    background: grey
}

/* style pour le wrapper */
#wrapper{
    background: #fff;
    margin: 0 auto;
    width: 1000px;
}

/* couleurs provisoires */
 .rouge{
     background: red;
 }
  .vert{
      background: greenyellow;
  }
    .orange{
      background: orange;
  }

    /* header et footer centré */

     header{
      width: 500px;
      margin:0 auto;
  }
    footer{
    width: 500px;
    margin:0 auto;
}

/* section  */

section{
    min-height: 500px;
    max-height: 500px;
}
/* pour faire flotter les contenus */

.adroite{
    float: right;
    width: 500px;
}
.agauche{
    float: left;
    width: 500px;.
}
.clear{
    clear: both;
}